@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
        font-family: "Yekan";
        src: local("Yekan"), url("../public/fonts/Yekan\ Bakh\ EN\ 03\ Light.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Medium";
        src: local("Yekan Medium"), url("../public/fonts/Yekan\ Bakh\ EN\ 05\ Medium.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Heavy";
        src: local("Yekan Heavy"), url("../public/fonts/Yekan\ Bakh\ 07\ Heavy.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Regular";
        src:local("Yekan Regular") , url("../public/fonts/BYekan.ttf");
        font-display: swap;
    }
    
    body{
        @apply bg-zinc-200 dark:bg-zinc-700
    }

}

@layer components {
     .submenu{
        @apply  hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
     }
     .submenu--open{
        @apply flex;
     }
    .submenu__item--active{
        @apply relative text-orange-300 pr-2.5;
    }

    .submenu__item--active::after{
        content:"";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        background-color: #FDBA74;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
     }

     .overlay{
        @apply md:hidden invisible opacity-0 fixed inset-0 w-full h-full bg-black/40 z-10 transition-all;
     }
     .overlay--visible{
        @apply visible opacity-100;
     }

     .circle{
        @apply flex justify-center items-center border rounded-full 
     }
     .circle--main{
        @apply absolute bottom-0 left-0 right-0 mx-auto translate-y-2/4 hidden md:flex
     }
     .circle--lg{
      @apply w-[203px] h-[203px] border-white/25
     }
     .circle--md{
        @apply w-[145px] h-[145px] border-white/50

     }
     .circle--sm{
        @apply w-[95px] h-[95px] border-white/80 bg-white dark:bg-zinc-700/35

     }


 @media screen and (min-width:1280px) {
   html.dark .products{
      background-image:url('../public/images/body-bg.png');
      
    }
    .products{
      background: url('../public/images/body-bg.png');
      background-repeat: no-repeat;
      background-size: 100%;
       height: 900px;
      
   }
   .banner-item{
      background-repeat: no-repeat;
      background-size: 100%;
      height: 200px;
      border-radius: 15px;
         
   }
 }

 .banner-item_1{
   background: linear-gradient(270deg,rgba(0,0,0,0.6) 33.85%,rgba(243,244,246,0.1) 100%),url("../public/images/categories/category-right.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }
.banner-item_2{
   background: linear-gradient(270deg,rgba(0,0,0,0.6) 33.85%,rgba(243,244,246,0.1) 100%),url("../public/images/categories/category-left.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
 .right{
      background-image: url('../public/images/categories/category-right.jpg');

   }
   .left{
      background-image: url('../public/images/categories/category-left.jpg');

   }


.swiper-btn{
   @apply  flex justify-center items-center w-9 h-9 md:w-10 md:h-10 bg-white text-zinc-700 dark:bg-zinc-700 dark:text-white
    shadow-normal rounded-full hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700 transition-all cursor-pointer
}

.blog-item_1{
   background: url("../public/images/blogs/blog-1.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.blog-item_2{
   background: url("../public/images/blogs/blog-2.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.blog-item_3{
   background: url("../public/images/blogs/blog-3.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.blog-item_4{
   background: url("../public/images/blogs/blog-4.png");
   background-repeat: no-repeat;
   background-size: cover;


}



}


@layer utilities{
   .flex-center{
      @apply flex items-center justify-center;
   }
}