@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
        font-family: "Yekan";
        src: local("Yekan"), url("../public/fonts/Yekan\ Bakh\ EN\ 03\ Light.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Medium";
        src: local("Yekan Medium"), url("../public/fonts/Yekan\ Bakh\ EN\ 05\ Medium.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Heavy";
        src: local("Yekan Heavy"), url("../public/fonts/Yekan\ Bakh\ 07\ Heavy.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Regular";
        src:local("Yekan Regular") , url("../public/fonts/BYekan.ttf");
        font-display: swap;
    }
   body{
     @apply font-YekanRegular bg-gray-100 dark:bg-zinc-800;
     background-image: url("../public/images/headerBgDesktop.webp");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top;
     background-clip: border-box;
     
   }
}

@layer components {
     .submenu{
        @apply  hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
     }
     .submenu--open{
        @apply flex;
     }
    .submenu__item--active{
        @apply relative text-orange-300 pr-2.5;
    }

    .submenu__item--active::after{
        content:"";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100px;
        background-color: #FDBA74;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
     }

     .overlay{
        @apply md:hidden invisible opacity-0 fixed inset-0 w-full h-full bg-black/40 z-10 transition-all;
     }
     .overlay--visible{
        @apply visible opacity-100;
     }
}